<div class="imageWrap" >
  <div class="" width="{{width}}px" height="{{height}}px">
    <img class="image img-responsive img-thumbnail" src="{{static image}}" alt="" onerror="onerror=null;src='{{static '/img/xiaohuangren_240x320_0.png'}}'"
        data-title="{{title}}" data-playinfo="{{playinfo}}">
  </div>
  <a class="text-center">{{title}}</a>
</div>
